.background {
  viewport-fill: black;
}

#shortDay {
  font-size: 40;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

#normalDay {
  font-size: 40;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

#longDay {
  font-size: 40;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}
